<!-- Local Context Begin -->
<% if AppConfig[:plugins].include?('local_contexts_projects') %>
    <% unless record.json['local_contexts_projects'].blank? %>
      <% project_ids = [] %>
      <% record.json['local_contexts_projects'].each do |lcp| %>
        <% if lcp['_resolved']['project_is_public'] %>
          <% project_ids  << lcp['_resolved']['project_id'] %>
        <% end %>
      <% end %>
      <% if project_ids.length > 0 %>
        <h3><%= I18n.t("local_contexts_section_title") %></h3>
          <ul>
            <li>
              <ul style="list-style: none;">
                <li>
                  <p style="font-size: 0.8em; margin-top: 0.5em">
                    <% if project_ids.length > 1 %>
                      <%= I18n.t("local_contexts_project_information._plural") %>
                    <% else %>
                      <%= I18n.t("local_contexts_project_information._singular") %>
                    <% end %>
                  </p>
                </li>
              </ul>
            </li>
            <% project_ids.each do |pid| %>
              <li><%= render(:partial => 'local_contexts_project', :locals => {:project_id => pid}) %></li>
            <% end %>
          </ul>
      <% end %>
    <% end %>
<% end %>
<!-- Local Context End -->