<% if user_can?('update_localcontexts_project_record') %>
  <div class="record-toolbar d-flex align-items-center">
    <% if ['edit', 'update', 'new', 'create'].include?(controller.action_name) %>
      <div class="save-changes">
        <button type="submit" class="btn btn-primary btn-sm"><%= I18n.t("actions.save_prefix") %></button>
      </div>
    <% else %>
    <div class="btn-group">
      <%= link_to I18n.t("actions.edit"), {:controller => :local_contexts_projects, :action => :edit, :id => @local_contexts_project.id}, :class => "btn btn-sm btn-primary" %>
    </div>
    <% end %>
    <% if !['new', 'create'].include?(controller.action_name) %>
    <div class="btn-toolbar ml-auto">
      <div class="btn-group">
        <div class="btn btn-inline-form">
          <%= button_delete_action url_for(:controller => :local_contexts_projects, :action => :delete, :id => @local_contexts_project.id), { :"data-title" => I18n.t("actions.delete_confirm_title", :title => @local_contexts_project.display_string) } unless @local_contexts_project.id.nil? %>
        </div>
      </div>
    </div>
    <% end %>
    <div class="clearfix"></div>
  </div>
<% end %>
