/* errors */
.local-contexts-error-msg {
  margin-left: 0.5em;
  padding: 0.25em;
}

.local-contexts-error-msg:before {
  margin-right: 0.25em;
  content: "\f06a";
  font-family: "FontAwesome";
}

/* data */
.local-contexts-live-data {
  margin: -10px 2em 2em 2em;
}

.local-contexts-live-data > div,
#open-to-collaborate > div {
  display: table;
  clear: both;
}

.local-contexts-live-data p,
#open-to-collaborate p {
  display: table;
}

img.local-context-image {
  display: table-cell;
  max-width: 5em;
  margin: 0 1em 1em 0;
}

span.local-context-description {
  display: table-cell;
  max-width: 970px;
  vertical-align: top;
}
span.local-context-placed-by {
  display: block;
}

span.local-context-placed-by-label {
  font-weight: bold;
}
span.local-contexts-inherited {
  display: block;
}

#local-contexts-img-wrapper {
  display: table;
  clear: both;
}

#local-contexts-img-wrapper:hover {
  cursor: pointer;
}

img.local-contexts-header-image {
  float: left;
  max-height: 2.25em;
  margin-right: 0.25em;
}

/* translations */
.local-context-translation-wrapper {
  display: none;
  margin-top: 0.5em;
}

.local-context-translation-wrapper.shown {
  display: block;
}

.local-context-translation-title {
  font-weight: bold
}

.local-context-translation-translation {
  display: block;
  margin-bottom: 1em;
}

.local-context-translation-translation:last-of-type {
  margin-bottom: 0;
}
