<div id="template_local_context_data"><!--
  <div>
    <h4>${label.name}</h4>
    <p>
      <img class="local-context-image" src="${label.img_url}" />
      <span class="local-context-description">
        ${label.default_text}
        <span class="local-context-placed-by">
          <span class="local-context-placed-by-label">Placed by:</span> ${label.community}
        </span>
      </span>
    </p>
  </div>
--></div>
