<% define_template "local_context", jsonmodel_definition(:local_context) do |form| %>
  <div class="subrecord-form-fields">
    <%= form.label_and_textfield "project_id", :field_opts => {:id => "local-context-project"} %>
  </div>
<% end %>
