<ul style="list-style: none;">
    <li>
      <p style="font-size: 0.8em; margin-top: 0.5em">
        <a href="<%= AppConfig[:local_contexts_base_url] %>projects/project/<%= project_id %>"><%= I18n.t("local_contexts_project_link_text") %> (Project ID: <%= project_id %>)</a>
      </p>
    </li>
</ul>
