<% define_template "local_cntext_project", jsonmodel_definition(:local_context_project) do |form| %>
  <fieldset>
    <section id="local-context-project-information">
      <%= form.label_and_textfield "project_id" %>
      <%= form.label_and_textfield "project_name" %>
      <%= form.label_and_boolean "project_is_public" %>
    </section>
  </fieldset>
<% end %>
<% form.emit_template("local_context_project") %>
